[submodule "LinuxBash"]
	path = LinuxBash
	url = https://github.com/iamkrvikash/LinuxBash.git
[submodule "iamkrvikash"]
	path = iamkrvikash
	url = https://github.com/iamkrvikash/iamkrvikash
[submodule "a/b/git-tutorials"]
	path = a/b/git-tutorials
	url = https://github.com/iamkrvikash/git-tutorials.git
